<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un Familiar</title>
</head>
<body style="background-color:rgb(48, 48, 48) ;">
    
    <h1 style="color: rgb(249, 179, 191) ; font-size: larger;">Agregando a {{nuevofamiliar.nombre}}: </h1>
    
    <p style="color:rgb(198, 159, 34);">Guardando en la base de datos.</p>
        
        <ul style="color:rgb(198, 159, 34);">
            <p><span style = " font-weight:bold;">Nombre:</span> {{nuevofamiliar.nombre}} ...</p>
            <p><span style = " font-weight:bold;">Parentezco:</span> {{nuevofamiliar.parentezco}} ...</p>
            <p><span style = " font-weight:bold;">Edad:</span> {{nuevofamiliar.edad}} años ...</p>
            <p><span style = " font-weight:bold;">Fecha De Nacimiento:</span> {{nuevofamiliar.fechaDeNacimiento}} ...</p>
            <p><span style = " font-weight:bold;">Trabaja:</span> {{nuevofamiliar.trabajador}} ...</p>
        </ul>

    
        <br>
        <p style="color:rgb(9, 140, 20);">{{nuevofamiliar.nombre}} AGREGADO CORRECTAMENTE</p>
    
        <nav>
            <a style= "font-size:larger;" href="/"><b>Inicio</b></a> 
        </nav>
</body>
</html>