<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un Familiar</title>
</head>
<body>
    
    <h1>Agregando a {{lista.nom}}: </h1>
    
    <p>Guardando en la base de datos.</p>
        
        <ul>
            <p>nombre: {{lista.nom}} ...</p>
            <p>parentezco: {{lista.parent}} ...</p>
            <p>edad: {{lista.ed}} años ...</p>
            <p>fechaDeNacimiento: {{lista.fechaDeNac}} ...</p>
            <p>trabaja: {{lista.trabaj}} ...</p>
        </ul>

    
        <br>
        <p>{{lista.nom}} AGREGADO CORRECTAMENTE</p>
    
</body>
</html>