<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body style="background-color:rgb(48, 48, 48) ;">
    <h1 style="color: rgb(249, 179, 191);">Éste es el inicio</h1>
    <p style="color:rgb(198, 159, 34) ;">Trabajo creado por Kevin Sapia para Coderhouse con: <span style="color: red">sangre</span>, <span style="color: lightseagreen">sudor</span> y <span style="color: lightskyblue">lágrimas</span>...</p>
    <nav>
        
        <a style ="margin-right: 5px;" href="/"><b>Inicio</b></a>
        <a href="/verfamiliares"><b>Listar Familiares</b></a>

    </nav>

</body>
</html>